@import 'bootstrap/dist/css/bootstrap';

.btn {
    width: fit-content;
}

.navbar {
    background-color: black !important;
    }

.navbar-toggler {
    color: white;
    background-color: white;
}

.navbar .navbar-toggler:focus {
    color: gray;
  }

.nav-link {
    color: white !important;
}

#logo {
    float: left;
    font-size: 1.7em;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
    color: #fff;
}

.jumbotron {
    padding: 4rem 2rem;
    margin-bottom: 2rem;
    background-color: var(--bs-light);
    border-radius: .3rem;  
    background-image: asset-url('jumbo-copy.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 430px;
  }

#home-container {
    margin-top: 25px;
}

// ----for sticky footer-------

#page-content {
    flex: 1 0 auto;
    background-color: lightgrey;
}
  
html, body {
    height: 100%;
}