<h1 class="text-center mt-4">Create a Category</h1>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-10">
        <%= render 'form' %>
        <div class="row justify-content-center">
            <div class="col-sm-4 text-center mb-4">
                <%= link_to '[ Cancel and Return to Categories Listing ]', categories_path, class: "link-info" %>
            </div>
        </div>
        </div>
    </div>
</div>
    
    