<footer id="sticky-footer" class="flex-shrink-0 py-4 bg-secondary text-white-50">
<div class="container text-center">
  <small>Copyright &copy; <%= link_to'Wrapstore', "https://www.wrapstore.in", class: "link-light" %></small>
</div>
</footer>